


/* #Primary
================================================== */

.checkbox-tools{
	background: none;
}

.for-checkbox-tools{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 110px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: black;
}

.category_bn{
    background-color: #0094FF;
    color: #FFFFFF;
}
