<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">

</head>
<body style=" background-color: #121316;">
    <div class="error_404_container">
        <iframe class="error_404" src='https://my.spline.design/untitled-95d2e829547758634b0718875ee302e6/' frameborder='0' width='100%' height='100%'></iframe>
    </div>
        <div class="error_404_subconteiner">
            <h1 class="title_404">
            გვერდი ვერ მოიძებნა
            </h1>
            <div class="text_404_div">
                <p class="text_404">
                გვერდი, რომელსაც ეძებთ, ვერ მოიძებნა (შესაძლოა წაშლილია ან არასწორად მიუთითეთ მისამართი). გთხოვთ გადაამოწმოთ და სცადოთ თავიდან ან დაბრუნდით მთავარ გვერდზე ქვემოთ მოცემული ღილაკის გამოყენებით.
            </p>
                <a href="/">
                    <button class="bn_404">მთავარ გვერდზე დაბრუნება</button>

                </a>

            </div>


        </div>


</body>
</html>