
    {% extends 'base.html' %}
    {% block title%} დამატება {% endblock %}

    {% block coloradd %} #0094FF {% endblock %}

    {% block homeadd %} <div class="dot"></div> {% endblock %}


    {% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    {% endblock%}

    {% block content %}

     <section class="add_main_content main_content">
      <form method="post" class="add_main_content_div" enctype="multipart/form-data">
        <div class="add_content">
          <br>
          <div class="add_button">
              <div class="add_button_error_div">
                    {% with message = get_flashed_messages(with_categories=true) %}
                        {% for category, msg in message %}
                            <p class="{{category}}">{{ msg }}</p>
                        {% endfor %}
                    {% endwith %}
                    <button type="submit" name="bn_add" value="bn_add_value" class="add_topic_button">დამატება</button>
              </div>


          </div>
          <div class="add_titile_div">
            <h1 class="add_topic_urchie">სათაური</h1>

            <input class='add_title' type="text" name="add_title" >

          </div>

            <select class="add_category" name="add_category" id="" >
                <option value="აირჩიე კატეგორია" >აირჩიე კატეგორია</option>
                <option value="გართობა">გართობა</option>
                <option value="პროგრამირება">პროგრამირება</option>
                <option value="მუსიკა">მუსიკა</option>
                <option value="ურთიერთობები">ურთიერთობები</option>
                <option value="გართობა">გართობა</option>
                <option value="კულინარია">კულინარია</option>
                <option value="სპორტი">სპორტი</option>
                <option value="ხელოვნება">ხელოვნება</option>
                <option value="მეცნიერება">მეცნიერება</option>
                <option value="პოლიტიკა">პოლიტიკა</option>



            </select>

            <div class="add_description_container">
                <h1 class="open_topic_urchie">აღწერა</h1>

                <textarea id="add-text-input" contenteditable="true" name="add_description" placeholder="აღწერა" style="height: 150px;"></textarea>

                <div class="file_container">
                  <input name="add_image" type="file" id="file-input" accept="image/png, image/jpeg" onchange="preview()" multiple="">
                  <label class='file_label' for="file-input">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.41 7.41L14.58 2.58C14.21 2.21 13.7 2 13.17 2H6C4.9 2 4.01 2.9 4.01 4L4 20C4 21.1 4.89 22 5.99 22H18C19.1 22 20 21.1 20 20V8.83C20 8.3 19.79 7.79 19.41 7.41ZM14.8 15H13V18C13 18.55 12.55 19 12 19C11.45 19 11 18.55 11 18V15H9.21C8.76 15 8.54 14.46 8.86 14.15L11.66 11.36C11.86 11.17 12.17 11.17 12.37 11.36L15.16 14.15C15.46 14.46 15.24 15 14.8 15V15ZM14 9C13.45 9 13 8.55 13 8V3.5L18.5 9H14Z" fill="white"/>
                      </svg>
                      აირჩიე ფოტო
                  </label>
                  <p id="num-of-files">ფაილი არ არის დამატებული</p>
                    <div id="add_images"></div>
                </div>


            </div>


        </div>
      </form>




    </section>
    {% endblock %}
    {% block script %}
    <script>




        // let fileInput = document.getElementById("file-input");
        // let imageContainer = document.getElementById("add_images");
        // let numOfFiles = document.getElementById("num-of-files");
        //
        // function preview(){
        //     imageContainer.innerHTML = "";
        //
        //     for(i of fileInput.files){
        //         let figCap = document.createElement("figcaption");
        //         figCap.innerText = i.name;
        //
        //         numOfFiles.textContent = `${i.name}  Photo Selected`;
        //
        //     }
        // }


        let fileInput = document.getElementById("file-input");
        let imageContainer = document.getElementById("add_images");
        let numOfFiles = document.getElementById("num-of-files");

        function preview() {
            imageContainer.innerHTML = "";
            numOfFiles.textContent = `${fileInput.files.length} Files Selected`;

            for (i of fileInput.files) {
                let reader = new FileReader();
                let figure = document.createElement("figure");
                let figCap = document.createElement("figcaption");
                figCap.innerText = i.name;
                figure.appendChild(figCap);
                reader.onload = () => {
                    let img = document.createElement("img");
                    img.setAttribute("src", reader.result);
                    figure.insertBefore(img, figCap);
                }
                imageContainer.appendChild(figure);
                reader.readAsDataURL(i);
            }
        }



    </script>
    {% endblock %}
