
{% extends 'base.html' %}
    {% block title %} მთავარი {% endblock %}

    {% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">



    <link rel="stylesheet" href="{{url_for('static', filename='css/category.css')}}">

    {% endblock %}

    {% block colorhome %} #0094FF {% endblock %}


    {% block homedot %} <div class="dot"></div> {% endblock %}


    {% block content%}
    <section class="main_content">

 <form method="get" class="scroller">
        <div class="scroller-item">
            <a href="/categories/{{category}}">
                <button  class="checkbox-tools" type="radio" name="category" id="tool-1" value="ზოგადი" checked ></button>
                <label class="for-checkbox-tools" for="tool-1">
                    ზოგადი
                </label>
            </a>

        </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category"  value="გართობა"id="tool-2"></button>
                    <label class="for-checkbox-tools" for="tool-2">
                    გართობა
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="პროგრამირება" id="tool-3"></button>
                    <label class="for-checkbox-tools" for="tool-3">
                    პროგრამირება
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="მუსიკა" id="tool-4"></button>
                    <label class="for-checkbox-tools" for="tool-4">
                    მუსიკა
                    </label>

            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="ურთიერთობები" id="tool-5"></button>
                    <label class="for-checkbox-tools" for="tool-5">
                        ურთიერთობები
                    </label>

            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="კულინარია" id="tool-6"></button>
                    <label class="for-checkbox-tools" for="tool-6">
                        კულინარია
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="სპორტი" id="tool-7"></button>
                    <label class="for-checkbox-tools" for="tool-7">
                        სპორტი
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="ხელოვნება" id="tool-8"></button>
                    <label class="for-checkbox-tools" for="tool-8">
                        ხელოვნება
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="მეცნიერება" id="tool-9"></button>
                    <label class="for-checkbox-tools" for="tool-9">
                        მეცნიერება
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="პოლიტიკა" id="tool-10"></button>
                    <label class="for-checkbox-tools" for="tool-10">
                        პოლიტიკა
                    </label>


            </div>



          </form>





        <div class="category">
            <div class="col-12 pb-5">


            </div>



        </div>


        {%for each in info %}

            <a  method="GET"  class="topic_a" href="/open/{{each[4]}}" >
            <div class="topic">

                <img class="topic_image" src="{{each[3]}}" alt="" >

                <img class="topic_user_img" src="/profile/image/{{each[5]}}" alt="">
                <div>
                    <h1 class="topic_title" >{{each[0]}}</h1>
                </div>

                <div class="topic_time_category_div">
                    <h1 class="comment_count profile-topic_category " >
                        {{each[2]}} კომენტარი
                    </h1>
                    <br>
                    <h1 class="profile-topic_time" >
                        {{each[1]}}
                    </h1>

                </div>

            </div>
        </a>


        {% endfor %}

    </section>

    {% endblock %}


    {% block script %}
    <script>
        const slider = document.querySelector('.scroller');
        let mouseDown = false;
        let startX, scrollLeft;

        let startDragging = function (e) {
          mouseDown = true;
          startX = e.pageX - slider.offsetLeft;
          scrollLeft = slider.scrollLeft;
        };
        let stopDragging = function (event) {
          mouseDown = false;
        };

        slider.addEventListener('mousemove', (e) => {
          e.preventDefault();
          if(!mouseDown) { return; }
          const x = e.pageX - slider.offsetLeft;
          const scroll = x - startX;
          slider.scrollLeft = scrollLeft - scroll;
        });

        // Add the event listeners
        slider.addEventListener('mousedown', startDragging, false);
        slider.addEventListener('mouseup', stopDragging, false);
        slider.addEventListener('mouseleave', stopDragging, false);
        </script>
    {% endblock %}