{% extends 'base.html' %}
    {% block title %} მთავარი {% endblock %}

    {% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
<!-- === -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- === -->

    <link rel="stylesheet" href="{{url_for('static', filename='css/category.css')}}">

    {% endblock %}

    {% block colorhome %} #0094FF {% endblock %}


    {% block homedot %} <div class="dot"></div> {% endblock %}


    {% block content%}
    <section class="main_content">



        <form method="get" class="main-carousel">
        <div class="cell">
            <a href="/categories/{{category}}">
                <button  class="checkbox-tools" type="radio" name="category" id="tool-1" value="ზოგადი" checked ></button>
                <label class="for-checkbox-tools" for="tool-1">
                    ზოგადი
                </label>
            </a>

        </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category"  value="გართობა"id="tool-2"></button>
                    <label class="for-checkbox-tools" for="tool-2">
                    გართობა
                    </label>


            </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category" value="პროგრამირება" id="tool-3"></button>
                    <label class="for-checkbox-tools" for="tool-3">
                    პროგრამირება
                    </label>


            </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category" value="მუსიკა" id="tool-4"></button>
                    <label class="for-checkbox-tools" for="tool-4">
                    მუსიკა
                    </label>

            </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category" value="ურთიერთობები" id="tool-5"></button>
                    <label class="for-checkbox-tools" for="tool-5">
                        ურთიერთობები
                    </label>

            </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category" value="კულინარია" id="tool-6"></button>
                    <label class="for-checkbox-tools" for="tool-6">
                        კულინარია
                    </label>


            </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category" value="სპორტი" id="tool-7"></button>
                    <label class="for-checkbox-tools" for="tool-7">
                        სპორტი
                    </label>


            </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category" value="ხელოვნება" id="tool-8"></button>
                    <label class="for-checkbox-tools" for="tool-8">
                        ხელოვნება
                    </label>


            </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category" value="მეცნიერება" id="tool-9"></button>
                    <label class="for-checkbox-tools" for="tool-9">
                        მეცნიერება
                    </label>


            </div>
            <div class="cell">

                    <button class="checkbox-tools" type="radio" name="category" value="პოლიტიკა" id="tool-10"></button>
                    <label class="for-checkbox-tools" for="tool-10">
                        პოლიტიკა
                    </label>


            </div>



          </form>





          
        <div class="category">
            <div class="col-12 pb-5">
                

            </div>



        </div>


        <a href="/open/{{last_post_id}}">

            <div class="first_topic">

                <img class="first_topic_image" src="/category/image/{{last_post_id}}" alt="">
    
                <p class="first_topic_title">{{title}}</p>

                <div class="first_topic_time_category_div">

                    <h1 class="first_topic_category" >
                        {{category_last_post}}
                    </h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="first_topic_time" >
                        {{upload_date}} წინ
                    </h1>
                </div>


            </div>
    
        </a>


        <div class="popular_div">
            <h1 class="popular_title">პოპულარული</h1>
            {%for each in popular_posts%}
            <a href="/open/{{each[2]}}" class="card_a">
                <div class="card_body_div">
                    <div class="card_body">

                        <div class=card_imgs_div">
                            <div class="card_img_div">
                                <img class="card_img" src="/category/image/{{each[2]}}" alt="">

                            </div>
                            <div class="card_author_img_div">
                                <img class='card_author_img' src="profile/image/{{each[1]}}" alt="">

                            </div>
                        </div>
                        <div class="card_text">
                            <p class="card-title"> {{each[0]}} </p>
                        </div>
                        <div class="comment_count_div">
                            <p class="comment_count">
                                 {{each[3]}} კომენტარი
                            </p>

                        </div>

                    </div>
                </div>
            </a>
            {% endfor %}
        </div>


        <div class="general_div">
            <h1 class="general_title">ზოგადი</h1>

            {% for each in general_posts %}
            <a class="topic_a" href="/open/{{each[0]}}" >
                <div class="topic">

                    <img class="topic_image" src="/category/image/{{each[0]}}" alt="" >

                    <img class="topic_user_img" src="/profile/image/{{each[1]}}" alt="">


                    <div>
                        <h1 class="topic_title" >{{each[2]}}</h1>
                    </div>




                    <div class="topic_time_category_div">
                        <h1 class="profile-topic_category" >
                            {{each[3]}}
                        </h1>
                        <br>
                        <h1 class="profile-topic_time" >
                            {{each[4]}} წინ
                        </h1>

                    </div>




                </div>

            </a>
            {% endfor %}
        </div>



    </section>

    {% endblock %}


    {% block script %}
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


        <script>

          $('.main-carousel').flickity({
            // options

            cellAlign: 'left',
            wrapAround:false,
            freeScroll: false
            });
        </script>
    {% endblock %}