{% extends 'base.html' %}
    {% block title %} მთავარი {% endblock %}

    {% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">


    <link rel="stylesheet" href="{{url_for('static', filename='css/category.css')}}">

    {% endblock %}

    {% block colorhome %} #0094FF {% endblock %}


    {% block homedot %} <div class="dot"></div> {% endblock %}


    {% block content%}
    <section class="main_content">



 <form method="get" class="scroller">

            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category"  value="გართობა"id="tool-2"></button>
                    <label class=" {{fun_color}} for-checkbox-tools" for="tool-2">
                    გართობა
                    </label>


            </div>
            <div class="scroller-item">

                    <button class=" checkbox-tools" type="radio" name="category" value="პროგრამირება" id="tool-3"></button>
                    <label class=" {{prog_color}} for-checkbox-tools" for="tool-3" >
                    პროგრამირება
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="მუსიკა" id="tool-4"></button>
                    <label class="{{mus_color}} for-checkbox-tools" for="tool-4">
                    მუსიკა
                    </label>

            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="ურთიერთობები" id="tool-5"></button>
                    <label class="{{rel_color}} for-checkbox-tools" for="tool-5">
                        ურთიერთობები
                    </label>

            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="კულინარია" id="tool-6"></button>
                    <label class="{{cul_color}} for-checkbox-tools" for="tool-6">
                        კულინარია
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="სპორტი" id="tool-7"></button>
                    <label class="{{sport_color}} for-checkbox-tools" for="tool-7">
                        სპორტი
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="ხელოვნება" id="tool-8"></button>
                    <label class="{{art_color}} for-checkbox-tools" for="tool-8">
                        ხელოვნება
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="მეცნიერება" id="tool-9"></button>
                    <label class="{{science_color}} for-checkbox-tools" for="tool-9">
                        მეცნიერება
                    </label>


            </div>
            <div class="scroller-item">

                    <button class="checkbox-tools" type="radio" name="category" value="პოლიტიკა" id="tool-10"></button>
                    <label class="{{pol_color}} for-checkbox-tools" for="tool-10">
                        პოლიტიკა
                    </label>


            </div>



          </form>






          
        <div class="category">
            <div class="col-12 pb-5">
                

            </div>



        </div>


        <a href="/open/{{last_post_id}}">

            <div class="first_topic">

                <img class="first_topic_image" src="/category/image/{{last_post_id}}" alt="">
    
                <p class="first_topic_title">{{title}}</p>

                <div class="first_topic_time_category_div">

                    <h1 class="first_topic_category" >
                        {{category_last_post}}
                    </h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="first_topic_time" >
                        {{upload_date}}
                    </h1>
                </div>


            </div>
    
        </a>


        <div class="popular_div">
            <h1 class="popular_title">პოპულარული</h1>
            <div class="card_a_container_div">


            {%for each in popular_posts%}
            <a href="/open/{{each[2]}}" class="card_a">
                <div class="card_body_div">
                    <div class="card_body">

                        <div class=card_imgs_div">
                            <div class="card_img_div">
                                <img class="card_img" src="/category/image/{{each[2]}}" alt="">

                            </div>
                            <div class="card_author_img_div">
                                <img class='card_author_img' src="profile/image/{{each[1]}}" alt="">

                            </div>
                        </div>
                        <div class="card_text">
                            <p class="card-title"> {{each[0]}} </p>
                        </div>
                        <div class="comment_count_div">
                            <p class="comment_count">
                                 {{each[3]}} კომენტარი
                            </p>

                        </div>

                    </div>
                </div>
            </a>
            {% endfor %}
            </div>
        </div>


        <div class="general_div">
            <h1 class="general_title">ზოგადი</h1>

            {% for each in general_posts %}
            <a class="topic_a" href="/open/{{each[0]}}" >
                <div class="topic">

                    <img class="topic_image" src="/category/image/{{each[0]}}" alt="" >

                    <img class="topic_user_img" src="/profile/image/{{each[1]}}" alt="">


                    <div>
                        <h1 class="topic_title" >{{each[2]}}</h1>
                    </div>




                    <div class="topic_time_category_div">
                        <h1 class="profile-topic_category" >
                            {{each[3]}}
                        </h1>
                        <br>
                        <h1 class="profile-topic_time" >
                            {{each[4]}}
                        </h1>

                    </div>




                </div>

            </a>
            {% endfor %}
        </div>



    </section>

    {% endblock %}


    {% block script %}
    <script>
        const slider = document.querySelector('.scroller');
        let mouseDown = false;
        let startX, scrollLeft;

        let startDragging = function (e) {
          mouseDown = true;
          startX = e.pageX - slider.offsetLeft;
          scrollLeft = slider.scrollLeft;
        };
        let stopDragging = function (event) {
          mouseDown = false;
        };

        slider.addEventListener('mousemove', (e) => {
          e.preventDefault();
          if(!mouseDown) { return; }
          const x = e.pageX - slider.offsetLeft;
          const scroll = x - startX;
          slider.scrollLeft = scrollLeft - scroll;
        });

        // Add the event listeners
        slider.addEventListener('mousedown', startDragging, false);
        slider.addEventListener('mouseup', stopDragging, false);
        slider.addEventListener('mouseleave', stopDragging, false);
        </script>
    {% endblock %}