{%extends 'base.html'%}

{% block title %} თემა {% endblock %}
{% block style %}
 <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">

{% endblock %}

{% block content%}
    <section class="main_content">

        <div class="open_topic">

            <div class="open_topic_main_content" >
                <img class="open_topic_image" src="/category/image/{{id}}" alt="">

                <p class="open_topic_title">{{title}}</p>


                 <div class="first_topic_time_category_div">
                    <h1 class="first_topic_category" >
                        {{category}}
                    </h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="first_topic_time" >
                        {{ time }}
                    </h1>
                </div>

            </div>
            


            <p class="open_description"> {{description}} </p>
            
        </div>
        
        <form method="post" class="container">
            <h1 class="open_topic_urchie">ურჩიე</h1>

            <textarea name="comment" id="text-input" contenteditable="true"></textarea>
            <div class="open_send_div">
                    <button class="open_send_rcheva" type="submit"> რჩევის დამატება </button>
            </div>
            


        </form>
    {% for each in comments %}
        <div class="open_rchva">
            <img  class='open_topic_user' src="/profile/image/{{each[1]}}" alt="">
            <h1 class="open_topic_rcheva">{{each[0]}}</h1>
        </div>

    {% endfor %}


    </section>
{% endblock %}