{% extends 'settings.html'%}

{% block content %}
<form method="post" class="setting_content_left_section">
        <h3 class="pers_info_title">პირადი ინფორმაციის შეცვლა</h3>
            <div class="center_form form-group">
              <div class="form-group">
                  <label for="firstName">სახელი</label>
                  <input class="form-group_input" type="text" name="firstName" id="firstName"  placeholder="შეიყვანე სახელი">
                </div>
                <div class="form-group">
                  <label for="lastName">გვარი</label>
                  <input class="form-group_input" type="text" name="lastName" id="lastName"  placeholder="შეიყვანე გვარი">
                </div>
                <div class="form-group">
                  <label for="age">ასაკი</label>
                  <input class="form-group_input" type="number" name="age" id="age"  placeholder="შეიყვანე ასაკი">
                </div>
            </div>
            {% with message = get_flashed_messages(with_categories=true) %}
                {% for category, msg in message %}
                    <p class="{{category}}">{{ msg }}</p>
                {% endfor %}
            {% endwith %}
            <button class="save" type="submit">შენახვა</button>
    </form>


{% endblock %}