{%extends 'base.html'%}
{% block title%}ძიება{%endblock%}
{%block style%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
{%endblock%}

{%block content%}
    <section class="main_content">

        {% for each in search %}

            <a href="" class="card_a">
                <div class="card_body">
                    <div class=card_imgs_div">
                        <div class="card_img_div">
                            <img class="card_img" src="/category/image/{{each[2]}}" alt="">

                        </div>
                        <div class="card_author_img_div">
                            <img class='card_author_img'src="/profile/image/{{each[1]}}" alt="">

                        </div>
                    </div>
                    <div class="card_text">
                        <p class="card-title">{{each[0]}}</p>
                    </div>

                </div>
            </a>
        {%endfor%}

    </section>

{%endblock%}